<!-- <p>join-event works!</p> -->
<div class="form">
    <form>
        <h2 class="form-title">Join Event</h2>
        <div class="form-group">
            <label for="emailAddress">Event Code:</label>
            <input type="email" class="form-control" id="code" aria-describedby="enterCode"
                placeholder="Enter event code">

            <a type="button" class="bg-add btn-add" href="eventDashboard.html">Join Event </a>

        </div>


        <h4>Just browsing? Select the categories that interest you, and we'll find events that match!</h4>
        <br>
        <label>Event Categories:</label>
        <div class="categories">
            <button type="button" class="btns btn-orange">General Body Meeting (GBM)</button>
            <button type="button" class="btns btn-orange">Casual</button>
            <button type="button" class="btns btn-orange">Movie Showing</button>
            <button type="button" class="btns btn-orange">Games/Trivia</button>
            <button type="button" class="btns btn-orange">Informational</button>
            <button type="button" class="btns btn-orange">Excursion</button>
            <button type="button" class="btns btn-orange">Elections</button>
            <button type="button" class="btns btn-orange">Workshop</button>
            <button type="button" class="btns btn-orange">Recruiting (Company)</button>
            <button type="button" class="btns btn-orange">Professional Development</button>
        </div>
        <br>
        <label>Club/Organization Categories:</label>
        <div class="categories">
            <button type="button" class="btns btn-orange">Academic & Professional</button>
            <button type="button" class="btns btn-orange">Identity Based</button>
            <button type="button" class="btns btn-orange">Hobby & Special Interest</button>
            <button type="button" class="btns btn-orange">Community Service</button>
            <button type="button" class="btns btn-orange">Sports & Recreation</button>
            <button type="button" class="btns btn-orange">Student Government & Event Planning</button>
        </div>
        <br>

        <a type="button" class="bg-add btn-add" href="eventDashboard.html">Find Events</a>

    </form>
</div>