<!-- <p>join-event works!</p> -->
<div class="form">
    <form>
        <h2 class="form-title">Join Event</h2>
        <div class="form-group">
            <label for="emailAddress">Event Code:</label>
            <input type="email" class="form-control" id="code" aria-describedby="enterCode"
                placeholder="Enter event code">

            <a type="button" class="bg-add btn-add" routerLink="/viewerDashboard">Join Event </a>

        </div>


        <h4>Just browsing? Select the categories that interest you, and we'll find events that match!</h4>
        <br>
        <a type="button" class="bg-add btn-add" routerLink='/eventFeed'>View All Events</a>
        <br>
    
        <label id="eventCategories">Event Categories:</label>
        <div class="btn-group-toggle categories" data-toggle="buttons" aria-labelledby="eventCategories">
            <!--<label class="btn btn-orange">
                <input type="radio" name="options" id="option1" checked> General Body Meeting (GBM)
            </label>-->
             <label class="btn btn-secondary btns btn-orange">
              <input type="radio" class="btns btn-orange" autocomplete="off"> General Body Meeting (GBM)
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Casual
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Movie Showing
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Games/Trivia
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Informational
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Excursion
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Elections
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Workshop
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Recruiting (Company)
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Other
            </label>
        </div>
        <br>
        <label id="clubCategories">Club/Organization Categories:</label>
        <div class="btn-group-toggle categories" data-toggle="buttons" aria-labelledby="clubCategories">
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Academic & Professional
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Identity Based
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Hobby & Special Interest
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Community Service
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Greek Organization
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Sports & Recreation
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Student Government & Event Planning
            </label>
            <label class="btn btn-secondary btns btn-orange">
                <input type="radio" class="btns btn-orange" autocomplete="off"> Other
            </label>
        </div>
        <br>

        <a type="button" class="bg-add btn-add" routerLink="/viewerDashboard">Find Events</a>

    </form>
</div>