/*Mobile stylings for vertical phone orientation*/
@media screen and (max-width: 884px) and (min-width: 300px) {
  .btn,
  label,
  input,
  a {
    font-size: medium;
  }
  .btn-add {
    width: 60%;
    margin-top: 5%;
  }

  .btn-category {
    display: block;
    margin-top: 10%;
  }
  h4 {
    margin-top: 15%;
    font-size: 18px;
  }

  div.form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #academicProf,
  #gbm,
  #online,
  label {
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 299px) {
  /*Specifically for Galaxy fold and smaller sizing*/

  .btn,
  label,
  input,
  a {
    font-size: medium;
  }
  .btn-add {
    width: 60%;
    margin-top: 5%;
  }

  .btn-category {
    display: block;
    margin-top: 15%;
  }
  h4 {
    margin-top: 15%;
    font-size: 18px;
  }

  div.form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #academicProf,
  #gbm,
  #online,
  label {
    margin-top: 2.5%;
  }
}
