<!-- <p>home works!</p> -->
<div class="topHomePage">
    <!-- top part of home page here -->
    <!-- two columns to position image and text -->
    <div class="row">
        <div class="column1">
            <img class="peopleMeeting" src="../../assets/peopleMeeting.svg" height="300">
        </div>
        <div class="column2">
            <h2 id="heading"> campfire </h2>
            <p id="tagline">Bringing people together.</p>
        </div>
        <div class="centerButtonHome">
            <a routerLink='/createEvent'><button class="btn bg-orange">Start Event</button></a>
            <a routerLink='/joinEvent'><button id="join-event" class="btn bg-orange" >Join Event</button></a>
        </div>
    </div>
</div>
<div class="bottomHomePage">
    <div class="row">
        <div class="column3">
            <!-- bottom part of home page here -->
            <!-- Fill out Information -->
            <h2 class="feature"> Create and plan club events.</h2>
            <p class="description">Campfire allows you to easily plan and share club events. No account needed! You can
                add editors and review their suggestions for the event.</p>
            <img class="featureImg1" alt="photo album illustration" src="../../assets/Photo-album-rafiki.svg" height="270">
        </div>
        <div class="column4">
            <img class="featureImg2" alt="calendar illustration" src="../../assets/Schedule-rafiki.svg" height="270">
            <h2 class="feature">Make new memories, meet new friends!</h2>
            <p class="description">We'll match you with events you might be interested in. Try out a new club or learn a
                new skill!</p>
        </div>
    </div>

</div>