<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" /> -->

<div class="form-dashboard">
    <div class="dropdown">
        <button onclick="myFunction()" class="btn-secondary dropdown-toggle bg-orange">View Mode <b
                class="caret"></b></button>
        <div id="myDropdown" class="dropdown-menu">
            <a class="dropdown-item" href="eventDashboard.html">Editing (Current)</a>
            <a class="dropdown-item" href="approveSuggestions.html">Approve Suggestion</a>
        </div>
    </div>
    <h1 class="form-center">Beach Volleyball</h1>
    <div id="accordion">
        <div class="panel-group" id="accordion">

            <!-- First Panel -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-full">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseBasics">Basics</h4>
                </div>

                <div id="collapseBasics" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="column7">
                                <!-- <input type="button" (click)="fillForm()" id="coolbutton"> -->
                                <h4>Public or Private Event?</h4>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioButton" id="publicButton"
                                        value="public" checked>
                                    <label class="form-check-label" for="publicButton">
                                        Public
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="radioButton" id="privateButton"
                                        value="private">
                                    <label class="form-check-label" for="privateButton">
                                        Private
                                    </label>
                                </div><br>
                                <div class="form-group">
                                    <h5 for="date">Date:</h5>
                                    <input type="event" class="form-control" id="datepicker" aria-describedby="dateHelp"
                                        placeholder="03/12/2021" [value]="date">
                                </div>
                                <div class="calander">
                                    <iframe
                                        src="https://calendar.google.com/calendar/embed?src=teamcampfire21%40gmail.com&ctz=America%2FNew_York"
                                        style="border: 0" width="100%" height="400px" frameborder="0"
                                        scrolling="no"></iframe>
                                </div>
                            </div>
                            <div class="column8">
                                <h4>Location:</h4>
                                <div class="form-group">
                                    <h5 for="date">In-Person:</h5>
                                    <input type="event" class="form-control" id="In-Person" aria-describedby="dateHelp"
                                        placeholder="Enter Event Address" [value]="addy">
                                    <br>
                                    <h5 for="date">Virtual:</h5>
                                    <input type="event" class="form-control" id="virtual" aria-describedby="dateHelp"
                                        placeholder="https://rensselaer.webex.com/meet/tralsa" [value]="oaddy">
                                    <br>
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.7698036395595!2d-73.68107708522975!3d42.72976277916387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f9eebfa097d%3A0xa5592b13db1f5302!2sRensselaer%20Polytechnic%20Institute!5e0!3m2!1sen!2sus!4v1615488659473!5m2!1sen!2sus"
                                        width="100%" height="385px" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Panel -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-full">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseActivities">Activities</h4>
                </div>

                <div id="collapseActivities" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="panel-body">
                        <h4>Planned Activities:</h4>
                        <!-- add chart -->
                        <a type="button" class="bg-add btn-add" href=""> + Add Activity </a>
                        <br>
                        <h4>Delagate Tasks:</h4>
                        <!-- add chart -->
                        <a type="button" class="bg-add btn-add" href=""> + Add Tasks </a>
                        <br>
                        <h4>Spotify Playlist:</h4>
                        <!-- <iframe src="https://open.spotify.com/embed/playlist/7qV4iT5K3Ivk8FlokZEBR9" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
                        <iframe src="https://open.spotify.com/embed/playlist/6gXbIpaokqIdRKJtYlp7HO" width="100%"
                            height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
            </div>

            <!-- Third Panel -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-full">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTransportation">Transportation</h4>
                </div>

                <div id="collapseTransportation" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Ride Arrangements:</h4>
                        <!-- add chart -->
                        <a type="button" class="bg-add btn-add" href=""> + Add Car </a>
                    </div>
                </div>
            </div>

            <!-- Fourth Panel -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-full">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseNotes">Notes</h4>
                </div>

                <div id="collapseNotes" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group">
                                <h4 for="comment">Event Description:</h4>
                                <textarea class="form-control" rows="5" id="description"
                                    placeholder="Please enter any additional notes for event attendees." [value]="desc"></textarea>
                            </div>
                            <!-- <p id="eventCode">zvshkj8!</p> -->
                            <!--<a type="button" class="bg-orange saveChanges" href="eventDashboard.html">Save
                            Changes</a>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fifth Panel -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-full">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#collapseJoin">Join</h4>
                </div>

                <div id="collapseJoin" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="form-group">
                                <p id="subtext">Share the below code to invite others to your event at: </p>
                                <p id="link"> campfire.com/join</p>
                                <p id="subtext">Code: zvshkj8!</p>
                            </div>
                            <!-- <p id="eventCode">zvshkj8!</p> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a type="button" class="bg-orange saveChanges" routerLink='/ownerDashboard'>Save Changes</a>
</div>
