<!-- <p>data-viz works!</p> -->

<!-- Club categories (network connection graph) - Rachel
Event categories - Anya
Meeting dates - Rachel
Online vs. offline - Anya
Transportation vs. none - Teddy
Locations - Teddy
Number of tasks - Michael
Number of drivers/cars - Michael-->

<h2>Data Visualizations</h2>
<p>Click the buttons to create and download the corresponding CSV files for the data visualizations!</p>
<div id="data-viz-navigation">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Club Categories</h3>
                <img src="../assets/data-viz/clubCategories.png" alt="club categories data viz, pie chart">
                <form method="post" action="/clubCategories">
                    <input type="submit" class="btn bg-orange" value="Club Categories"><br>
                </form>
            </div>
            <div class="col">
                <h3>Event Dates</h3>
                <img src="../assets/data-viz/eventDates.png" alt="event dates data viz, timeline">
                <form method="post" action="/eventDates">
                    <input type="submit" class="btn bg-orange" value="Event Dates"><br>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h3>Event Categories</h3>
                <img src="../assets/data-viz/eventCategoryBarplot.png" alt="event categories data viz, barplot">
                <form method="post" action="/eventCategories">
                    <input type="submit" class="btn bg-orange" value="Event Categories"><br>
                </form>
            </div>
            <div class="col">
                <h3>Online vs. Offline Events</h3>
                <img src="../assets/data-viz/onlineVsOfflinePie.png" alt="online vs offline data viz, pie chart">
                <form method="post" action="/onlineVsOffline">
                    <input type="submit" class="btn bg-orange" value="Online vs. Offline"><br>
                </form>
            </div>
        </div>
    </div>
    <!-- <a type="button" class="btn bg-orange"> Transportation vs. none</a><br>
    <a type="button" class="btn bg-orange"> Locations</a><br>
    <a type="button" class="btn bg-orange"> Number of tasks</a><br>
    <a type="button" class="btn bg-orange"> Number of drivers/cars</a><br> -->
</div>