<!-- <p>data-viz works!</p> -->

<!-- Club categories (network connection graph) - Rachel
Event categories - Anya
Meeting dates - Rachel
Online vs. offline - Anya
Transportation vs. none - Teddy
Locations - Teddy
Number of tasks - Michael
Number of drivers/cars - Michael-->
<div id="data-viz-navigation">
    <a type="button" class="btn bg-orange"> Club Categories</a> <br>
    <a type="button" class="btn bg-orange"> Event Categories</a><br>
    <a type="button" class="btn bg-orange"> Event Dates</a><br>
    <a type="button" class="btn bg-orange"> Online vs. offline</a><br>
    <a type="button" class="btn bg-orange"> Transportation vs. none</a><br>
    <a type="button" class="btn bg-orange"> Locations</a><br>
    <a type="button" class="btn bg-orange"> Number of tasks</a><br>
    <a type="button" class="btn bg-orange"> Number of drivers/cars</a><br>
</div>
<div id = "data-viz-image">
</div>