<!-- <p>event-basics works!</p> -->
<div class="background">
  <div class="form ">
    <form #eventStart="ngForm" (ngSubmit)="onClickSubmit(eventStart.value)">
      <h2 class="form-title">Create New Event</h2>
      <div class="form-group">
        <label for="yourEmailAddress" id="emailHelp">Email address:</label>
        <input type="email" name="yourEmailAddress" class="form-control" id="yourEmailAddress"
          title="Enter your Email Address" aria-describedby="emailHelp" placeholder="Enter your email" ngModel>
      </div>
      <div class="form-group">
        <label for="eventName" id="eventHelp">Event Name:</label>
        <input type="event" name="eventName" class="form-control" id="eventName" aria-describedby="eventHelp"
          placeholder="Enter event name" ngModel>
      </div>
      <div class="form-group">
        <label for="yourName" id="yourNameHelp">Your Name (will be displayed as event owner):</label>
        <input type="name" name="yourName" class="form-control" id="yourName" aria-describedby="yourNameHelp"
          placeholder="Enter club name" ngModel>
      </div>
      <div class="form-group" id="addFriends">
        <label for="inviteFriends" id="friendHelp">Invite friends (enter email address):</label>
        <input type="friend" name="inviteFriends" class="form-control aFriend" title="Friend Email Address"
          id="inviteFriends" aria-describedby="friendHelp" placeholder="Enter friend email" ngModel>
      </div>
      <a type="button" id="addFriendButton" class="bg-add-form btn-add-form"> + Add Friends </a>
      <br>
      <input class="btn-save" type="submit" value="Save">
    </form>
  </div>

  <div class="centerButton">
    <a type="button" class="bg-orange btn-step next" routerLink='/eventBasics'>Next &#62;</a>
    <h3 class="stepCompleted"> Step 1 of 4 </h3>
  </div>
  <div class="spacing"></div>
</div>