<!-- <p>event-basics works!</p> -->
<div class="background">
  <div class="form ">
    <form method="POST" action="/submitEventStart">
      <h2 class="form-title">Create New Event</h2>
      <div class="form-group">
        <label for="emailAddress">Email address:</label>
        <input type="email" name="yourEmailAddress" class="form-control" id="emailAddress" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="event" name="eventName" class="form-control" id="eventName" aria-describedby="eventHelp"
          placeholder="Enter Event Name">
      </div>
      <div class="form-group">
        <label for="yourName">Your Name (will be displayed as event owner):</label>
        <input type="name" name="yourName" class="form-control" id="yourName" aria-describedby="yourNameHelp"
          placeholder="Enter Name">
      </div>
      <div class="form-group" id="addFriends">
        <label for="addFriend">Invite friends (email address):</label>
        <input type="friend" name="inviteFriends" class="form-control aFriend" id="addFriend1"
          aria-describedby="friendHelp" placeholder="Enter Email">
      </div>
      <a type="button" id="addFriendButton" class="bg-add-form btn-add-form"> + Add Friends </a>
      <br>
      <input class="btn-save" type="submit" value="Save">
    </form>
  </div>

  <div class="centerButton">
    <a type="button" class="bg-orange btn-step next" routerLink='/eventBasics'>Next &#62;</a>
    <h6 class="stepCompleted"> Step 1 of 4 </h6>
  </div>
  <div class="spacing"></div>
</div>