<!-- <p>event-feed works!</p> -->
<div class="container">
    <div class="row align-items-start event-nav">
        <button id="dropdownCatButton" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#dropdownCat" aria-controls="dropdownCat" aria-expanded="false"
            aria-label="Toggle navigation"><span class="caret"></span>
            Filters
        </button>
        <div>{{clubCategory}}</div>
        <!-- <button type="button" name="button" (click)="eventsByClub('academicProf')" ngModel>click me</button> -->
        <div class="collapse navbar-collapse" id="dropdownCat">
            <!-- <div> -->
            <div class="dropdown eventDropdown">
                <button id="eventDropdownBtnMobile" onclick="eventDropdownMobile()"
                    class="btn-secondary dropdown-toggle bg-orange">Event Category<b class="caret"></b></button>
                <!--DROPDOWN STYLE ONE: standard drop down menus, different colors for the text depending on the event.
                    Could add some icons to the left of each item's text to better clarify?-->
                <div id="eventDropdown-mobile" class="dropdown-menu">
                    <!-- <div class="dropdown-item btn-group-toggle categories" data-toggle="buttons" -->
                    <!-- aria-labelledby="eventCategories"> -->
                    <!--BUTTON STYLE ONE: GBM has a colored in block for the button, everything else is an outline-->
                    <button class="dropdown-item gbm-outline" type="button"> General Body Meeting (GBM)</button>

                    <!-- </div> -->
                    <!--BUTTON STYLE TWO: Colored text, no fill-->
                    <button class="dropdown-item casual-outline" type="button">
                        Casual
                    </button>

                    <button class="dropdown-item movie-outline" type="button">
                        Movie Showing
                    </button>

                    <button class="dropdown-item games-outline" type="button">
                        Games/Trivia
                    </button>

                    <button class="dropdown-item info-outline" type="button">
                        Informational
                    </button>

                    <button class="dropdown-item excursion-outline" type="button">
                        Excursion
                    </button>

                    <button class="dropdown-item elections-outline" type="button">
                        Elections
                    </button>

                    <button class="dropdown-item workshop-outline" type="button">
                        Workshop
                    </button>

                    <button class="dropdown-item recruit-outline" type="button">
                        Recruiting (Company)
                    </button>
                    <button class="dropdown-item other-outline" type="button">
                        Other
                    </button>
                </div>
            </div>
            <!-- onclick="clubDropdownMobile()" (click)="clubDropdownMobile()" -->
            <div class="dropdown">
                <!-- <div> -->
                <button id="clubDropdownBtnMobile" class="btn-secondary dropdown-toggle bg-orange">Club Category<b
                        class="caret"></b></button>
                <!-- <button class="bg-orange">Club Category<b></b></button> -->
                <div id="clubDropdown-mobile" class="dropdown-menu">
                    <!-- <div> -->
                    <!--DROPDOWN STYLE TWO: buttons within each dropdown menu item-->
                    <!--BUTTON STYLE THREE: Buttons the same size as the text-->
                    <button class="academicProf-outline" type="button">
                        Academic & Professional
                    </button>

                    <button class="dropdown-item identity-outline" type="button">
                        Identity Based
                    </button>

                    <button class="dropdown-item hobby-outline" type="button">
                        Hobby & Special Interest
                    </button>
                    <button class="dropdown-item service-outline" type="button">
                        Community Service
                    </button>

                    <button class="dropdown-item greek-outline" type="button">
                        Greek Organization
                    </button>

                    <button class="dropdown-item sportsRec-outline" type="button">
                        Sports & Recreation
                    </button>

                    <button class="dropdown-item stuGov-outline" type="button">
                        Student Government & Event Planning
                    </button>

                    <button class="dropdown-item other-outline" type="button">
                        Other
                    </button>
                </div>


                <div class="onlineOffline btn-group-toggle categories" data-toggle="buttons">
                    <!--<label class="btn btn-orange">
                        <input type="radio" name="options" id="option1" checked> General Body Meeting (GBM)
                    </label>-->
                    <!--  <label for="casual" id="casual" class="btn btn-secondary btns btn-orange btn-category">
                        <input id="casual" type="radio" class="btns btn-orange btn-category" autocomplete="off"> Casual
                    </label> -->

                    <label for="online-mobile" id="onlineHelpMobile"
                        class="btn btn-secondary btns btn-orange btn-category">
                        <input id="online-mobile" type="radio" class="btns btn-orange" autocomplete="off"
                            name="online-mobile" (click)="setLocation('online')" ngModel> Online
                    </label>

                    <label for="offline-mobile" id="offlineHelp-mobile"
                        class="btn btn-secondary btns btn-orange btn-category">
                        <input id="offline-mobile" type="radio" class="btns btn-orange" autocomplete="off"
                            name="offline-mobile" (click)="setLocation('offline')" ngModel> Offline
                    </label>

                    <!-- <button type="button" class="btns btn-orange event-category" style="width: auto;">Online</button>
                <button type="button" class="btns btn-orange event-category" style="width: auto;">Offline</button> -->
                </div>
            </div>
        </div>

        <div id="desktop-tablet-nav">
            <div class="left-align"></div>
            <div class="dropdown eventDropdown">
                <button id="eventDropdownBtn" onclick="eventDropdown()"
                    class="btn-secondary dropdown-toggle bg-orange">Event Category <b class="caret"></b></button>
                <!--DROPDOWN STYLE ONE: standard drop down menus, different colors for the text depending on the event.
                    Could add some icons to the left of each item's text to better clarify?-->
                <div id="eventDropdown" class="dropdown-menu">
                    <!-- <div class="dropdown-item btn-group-toggle categories" data-toggle="buttons" -->
                    <!-- aria-labelledby="eventCategories"> -->
                    <!--BUTTON STYLE ONE: GBM has a colored in block for the button, everything else is an outline-->
                    <button class="dropdown-item gbm-outline" type="button"> General Body Meeting (GBM)</button>

                    <!-- </div> -->
                    <!--BUTTON STYLE TWO: Colored text, no fill-->
                    <button class="dropdown-item casual-outline" type="button">
                        Casual
                    </button>

                    <button class="dropdown-item movie-outline" type="button">
                        Movie Showing
                    </button>

                    <button class="dropdown-item games-outline" type="button">
                        Games/Trivia
                    </button>

                    <button class="dropdown-item info-outline" type="button">
                        Informational
                    </button>

                    <button class="dropdown-item excursion-outline" type="button">
                        Excursion
                    </button>

                    <button class="dropdown-item elections-outline" type="button">
                        Elections
                    </button>

                    <button class="dropdown-item workshop-outline" type="button">
                        Workshop
                    </button>

                    <button class="dropdown-item recruit-outline" type="button">
                        Recruiting (Company)
                    </button>
                    <button class="dropdown-item other-outline" type="button">
                        Other
                    </button>
                </div>
            </div>


            <div class="dropdown">
                <button id="clubDropdownBtn" onclick="clubDropdown()"
                    class="btn-secondary dropdown-toggle bg-orange">Club Category <b class="caret"></b></button>
                <div id="clubDropdown" class="dropdown-menu">
                    <!--DROPDOWN STYLE TWO: buttons within each dropdown menu item-->
                    <!--BUTTON STYLE THREE: Buttons the same size as the text-->
                    <button class="dropdown-item academicProf-outline" type="button">
                        Academic & Professional
                    </button>

                    <button class="dropdown-item identity-outline" type="button" (click)="eventsByClub('Identity')"
                        ngModel>
                        Identity Based
                    </button>

                    <button class="dropdown-item hobby-outline" type="button"
                        (click)="eventsByClub('Hobby & Special Interest')" ngModel>
                        Hobby & Special Interest
                    </button>

                    <button class="dropdown-item service-outline" type="button">
                        Community Service
                    </button>

                    <button class="dropdown-item greek-outline" type="button">
                        Greek Organization
                    </button>

                    <button class="dropdown-item sportsRec-outline" type="button">
                        Sports & Recreation
                    </button>

                    <button class="dropdown-item stuGov-outline" type="button">
                        Student Government & Event Planning
                    </button>

                    <button class="dropdown-item other-outline" type="button">
                        Other
                    </button>
                </div>

            </div>
            <div class="right-align onlineOffline btn-group-toggle categories" data-toggle="buttons">

                <label for="online" id="onlineHelp" class="btn btn-secondary btns btn-orange btn-category">
                    <input id="online" type="radio" class="btns btn-orange" autocomplete="off" name="online"
                        (click)="setLocation('online')" ngModel> Online
                </label>

                <label for="offline" id="offlineHelp" class="btn btn-secondary btns btn-orange btn-category">
                    <input id="offline" type="radio" class="btns btn-orange" autocomplete="off" name="offline"
                        (click)="setLocation('offline')" ngModel> Offline
                </label>

                <!-- <button type="button" class="btns btn-orange event-category" style="width: auto;">Online</button>
                <button type="button" class="btns btn-orange event-category" style="width: auto;">Offline</button> -->
            </div>
        </div>
    </div>

    <div class="row card-deck" id="first-card-row">
        <!-- <div class="card event-card" style="width: 18rem;" *ngFor="let event of events">
            <img src="../../assets/casual-Hangout-rafiki.svg" class="card-img-top"
                alt="Illustration of two people hanging out.">
            <div class="card-body">
                <p class="card-text event-date">Sample Date (will be ready soon)</p>
                <h5 class="card-title event-name">{{event.eventName}}</h5>
                <p class="card-text event-organizer">{{event.yourName}}</p>
                <button type="button" class="btns event-category info" style="width: auto;" disabled>Informational</button>
                <br>
                <br>
                <p class="card-text event-short-desc">This is our final presentation</p>
                <p class="card-text event-short-desc">{{event.eventCategories[0].eventDescription}}</p>-->

        <!--a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>
            <div class="card-header">
                <p class="club category academicProf-outline"
                    disabled>Academic & Professional</p>
                <a type="button" class="bg-add btn-add-small" routerLink="/viewerDashboard">Join Event</a>
            </div>
        </div> -->


        <div class="card event-card" style="width: 18rem;" *ngFor="let event of events; trackBy: identify">
            <img src="../../assets/casual-Hangout-rafiki.svg" class="card-img-top"
                alt="Illustration of two people hanging out.">
            <div class="card-body">
                <p class="card-text event-date">{{event.eventBasics[0].date}}</p>
                <p class="card-text event-time">{{event.eventBasics[0].time}}</p>
                <h5 class="card-title event-name">{{event.eventName}}</h5>
                <p class="card-text event-organizer">{{event.yourName}}</p>
                <button type="button" class="btns event-category info"
                    style="width: auto;">{{event.eventCategories[0].eventCategory}}</button>
                <br>
                <br>
                <p class="card-text event-short-desc">{{event.eventCategories[0].eventDescription}}</p>
                <!--a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
            <div class="card-header">
                <p class="club-category academicProf-outline">{{event.eventCategories[0].clubCategory}}</p>
                <a type="button" class="bg-add btn-add-small" routerLink="/viewerDashboard">Join Event</a>
            </div>
        </div>
    </div>
</div>