/*Event feed*/
/*.card{
    display: flex;
}*/
/*Font-face declarations for Frutura*/
@font-face {
    font-family: "Futura";
    src: url("../../futura/Futura-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../futura/Futura-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../futura/Futura-Book.ttf") format("truetype");
    font-weight: book;
    font-style: normal;
}
@font-face {
    font-family: "Futura";
    src: url("../../futura/Futura-Heavy.ttf") format("truetype");
    font-weight: heavy;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../../futura/Futura-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
} 

.row {
    margin-top: 2%;
}
#first-card-row{
    margin-top: 5%;
}
div.card-header{
    display: inline;
}
p.num-attendees{
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #373A3C;
    padding-left: 2%;
    display: inline;

}
h5.event-name{
    /* font-family: Futura; */
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    /* identical to box height, or 106% */

    display: flex;
    align-items: flex-end;
    color: #373A3C;

}
p.event-organizer{
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #373A3C;
}
p.event-short-desc {
    font-family: Brandon Grotesque Medium;
    font-family: Brandon Grotesque Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #373A3C;
}
p.event-date{
    /* font-family: Futura; */
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 150% */
    color: #E45C3A;

}
.event-card {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 18rem;
}
img.card-img-top{
    height: 20%;
}
div.align-items-center{
    margin-top: 5%;

}
button#clubDropdownBtn {
    margin-left: 20%;
}


@media only screen and (min-width: 768px) {
    #dropdownCatButton, #dropdownCat {
        display: none !important;
    }
    #desktop-tablet-nav{
        display: block;
    }
}
/*Tablet*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .desktop-tablet-nav {
        justify-content: center;
        display: inline-block;
    }
    .left-align {
        margin-right: 5%;
        display: inline-block;
    }

    .right-align{
        margin-left: 35%;
        display: inline-block;
    }
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 10%;
        justify-content: center;
    }
  
    .card, .col, .row {
        margin-left: 0%;
        margin-right: 0%;
    }
    .card{
        margin-right: 1%;
    }
}
/*iPad*/
@media screen and (width: 768px) and (height: 1024px) {
    .desktop-tablet-nav {
        justify-content: center;
        display: inline-block;
    }
    .left-align {
        margin-right: 5%;
        display: inline-block;
        
    }

    .right-align{
        margin-left: 20%;
        display: inline-block;
    }
   button#clubDropdownBtn {
        margin-left: 20%;
    }
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 10%;
        justify-content: center;
    }
    .row, .col {
        display: block;
        margin-left: 0%;
        margin-right: 0%;
    }
    .card {
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 10%;
    }
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }
}

/*Mobile Phone*/
@media screen and (max-width: 767px) {
    #desktop-tablet-nav {
        display: none;
    }

    .dropdown{
        display: block;
    }
    .onlineOffline{
        display: block;
    }

    .onlineOffline{
        margin: 0%;
        margin-top: 5%;
    }
    .dropdown-menu {
        font-size: medium;
    }
    button#clubDropdownBtn {
        margin-left: 0%;
    }
    .dropdown-toggle.bg-orange {
        width: 50%;
        padding: 5%;
        margin-top: 5%;
    }
    .card, .row, .col {
        margin-left: 0%;
        margin-right: 0%;
    }
    .card {
        margin-bottom: 10%;
    }
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }

    label.btn {
        width: 30%;
        height: 50%;
    }
}
@media screen and (max-width: 766px) { /*Specifically for Galaxy fold and smaller sizing*/
    .card, .row, .col {
        margin-left: 0%;
        margin-right: 0%;
    }
    .event-card {
        margin-bottom: 10%;
        width: 105%;
    }

    .container{
        width: 90%;
        margin-left: 3%;
        margin-right: 5%;
        justify-content: center;
    }
    
}
  