<nav class="navbar navbar-dark bg-orange">
    <a href=""><img alt="campfire logo" src="../../assets/campfire_logo.png" height="60"></a>
    <input type="search" aria-label="Search for keywords searchbar" style="width: auto;"
      placeholder="Search for keywords" class="form-control">
      <a routerLink='/createEvent'><button class="btn">Create Event</button></a>
      <a routerLink='/dataViz'><button class="btn bg-orange">Data Viz</button></a>
       
</nav>
<app-ajax></app-ajax>
<router-outlet></router-outlet>