<nav class="navbar navbar-dark bg-orange">
    <a href=""><img alt="campfire logo" src="../../assets/campfire_logo.png" height="60"></a>
    <input type="search" id="navbar-searchbar" aria-label="Search for keywords searchbar" style="width: auto;"
      placeholder="Search for keywords" class="form-control">
      <div class="rightButton">
        <a routerLink='/createEvent'><button class="btn bg-white navButton">Create Event</button></a>
        <a routerLink='/dataViz'><button class="btn bg-white navButton">Data Viz</button></a>
    </div>
     
       
</nav>
<app-ajax></app-ajax>
<router-outlet></router-outlet>