<!--  <p>event-basics works </p> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<div class="background">

    <div class="form">
        <form method="POST" action="/submitEventBasics">
            <h2 class="form-title">Event Basics</h2>
            <br>
            <label>Public or Private?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButtonPublic" id="publicButton" value="public">
                <label class="form-check-label" for="publicButton">
                    Public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButtonPrivate" id="privateButton"
                    value="private">
                <label class="form-check-label" for="privateButton">
                    Private
                </label>
            </div>
            <br>
            <div class="form-group">
                <h5 for="date">Date:</h5>
                <input type="event" class="form-control" id="datepicker" type="text" aria-describedby="dateHelp"
                    placeholder="04/27/2021">
            </div>
            <br>
            <label>Held online or offline?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButtonOnOff" id="onlineRadio" value="online">
                <label class="form-check-label" for="online">
                    Online
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioButtonOnOff" id="offlineRadio" value="offline">
                <label class="form-check-label" for="offlineRadio">
                    Offline
                </label>
            </div>
            <input class="btn saveButton" type="submit" value="Save">

        </form>
    </div>
    <div class="centerButton">
        <a type="button" class="bg-orange btn-step prev" routerLink='/eventStart'>&#60; Back</a>
        <a type="button" class="bg-orange btn-step next" routerLink='/eventCategories'>Next &#62;</a>
        <h6 class="stepCompleted"> Step 2 of 4 </h6>
    </div>
    <div class="spacing"></div>
</div>