<!-- <p>finish works!</p> -->
<div class="form">
    <!-- top part of home page here -->
    <!-- two columns to position image and text -->
    <form #submitEventCode = "ngForm" (ngSubmit) = "onClickSubmit(submitEventCode.value)">
        <div class="row">
            <div class="column5">
                <img class="peopleCelebrate" src="../../assets/celebrate.svg" width="100%">
            </div>
            <div class="column6">
                <h2 id="text"> You’re all set! </h2>
                <p class="subtext">Share the below code to invite others to your event at: </p>
                <p class="link"> campfire.com/join</p>
                <p class="eventCode" id="eventCode" name="eventcode" [innerHTML]="ecode" ngModel></p>
                <!-- <input class="btn-save-finish" type="submit" value="Save Code"> -->
                <br>
                <br>
                <p class="subtext"><b>Edit</b> your event (make sure to keep this code private) at: </p>
                <p class="link"> campfire.com/edit</p>
                <p class="eventCode" id="ownercode" name="ownercode" [innerHTML]="ocode" ngModel></p>
                <input class="btn-save-finish" type="submit" value="Save Codes">
                <br>
                <br>
                <p>Click the button below to directly go to Event Dashboard and start adding activities and more!</p>
                <a type="submit" class="bg-orange eventD" routerLink='/ownerDashboard'>Event Dashboard</a>
            </div>
        </div>
    </form>
</div>