<!-- <p>finish works!</p> -->
<div class="form">
    <!-- top part of home page here -->
    <!-- two columns to position image and text -->
    <div class="row">
        <div class="column5">
            <img class="peopleCelebrate" src="../../assets/celebrate.svg" height="350">
        </div>
        <div class="column6">
            <h2 id="text"> You’re all set! </h2>
            <p id="subtext">Share the below code to invite others to your event at: </p>
            <p id="link"> campfire.com/join</p>
            <p id="eventCode">zvshkj8!</p>
            <p>Go to Event Dashboard and start adding activities, supplies, and more!</p>
            <a type="button" class="bg-orange eventD" routerLink='/ownerDashboard'>Event Dashboard</a>
        </div>
    </div>
</div>
<!-- <script
    type='text/javascript'>document.addEventListener('DOMContentLoaded', function () { window.setTimeout(document.querySelector('svg').classList.add('animated'), 1000); })</script> -->
<script>
    // https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript
    function makeid(length) {
        var result = [];
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!&%$#@*^';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
            result.push(characters.charAt(Math.floor(Math.random() *
                charactersLength)));
        }
        return result.join('');
    }
    // document.getElementById("eventCode").setValue(makeid(8))
    console.log(makeid(8));
</script>
<!-- <app-dashboard></app-dashboard> -->